<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">

	<header class="mdl-layout__drawer">
		<span class="mdl-layout-title">TasksApp</span>
		<nav class="mdl-navigation">
			<ul>
				<a class="mdl-navigation__link" routerLink="/" >Home</a>
				<a class="mdl-navigation__link" routerLink="/tareas" routerLinkActive="active">Tareas</a>
				<a class="mdl-navigation__link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
			</ul>
		</nav>
	</header>

	<main class="mdl-layout__content">
		<div class="page-content">
			<router-outlet></router-outlet> 
		</div>
	</main>
</div>